# Node modules
node_modules/

# Configuration files
calorie_tracker/config.py

# Cache
calorie_tracker/__pycache__/
calorie_tracker/static/uploads/

# database
instance/*

# IDE files
.vscode/
.idea/
